.vs/
Open-Shift/bin/
Open-Shift/obj/
Open-Shift/App_Log/sys_log.xls
*.mdf
*.mdf
*.ldf
Open-Shift/App_Log/sys_log.xls
Open-Shift/Open-Shift.csproj.user
Open-Shift/Open-Shift.csproj.user
Open-Shift/Open-Shift.csproj.user
Open-Shift/App_Log/sys_log.xls
