
@model Open_Shift.Models.Home
@{


    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
<p>Please enter your email address.</p>
@using (Html.BeginForm("ResetPasswordRequest", "Profile", FormMethod.Post))
{
    <div class="section-bottom">
        <div>
            @Html.LabelFor(model => model.User.Email)
            <div required>@Html.TextBoxFor(model => model.User.Email)</div>
            <small class="validation-message form-text text-danger">@Html.ValidationMessageFor(model => model.User.Email)</small>
        </div>
    </div>
    <div>
        <button class="button-action" id="btnResetPassword" name="btnSubmit" value="resetpassword">Reset Password</button>

    </div>
}
