
@model Open_Shift.Models.Home
@{


    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("ResetPasswordRequest", "Profile", FormMethod.Post))
{
    <div class="section-bottom">
        <div>
            @Html.LabelFor(model => model.User.Email)
            <div>@Html.TextBoxFor(model => model.User.Email, new { required = "required", @class = "form-control" })</div>
            <small class="validation-message form-text text-danger">@Html.ValidationMessageFor(model => model.User.Email)</small>
           
        </div>
    </div>
    <div>
        <button class="btn btn-primary form-control" id="btnResetPassword" name="btnSubmit" value="resetpassword">Reset Password</button>
        <small class="form-text text-muted">Follow the instructions you'll receive by email.</small>
    </div>
}
