@model Open_Shift.Models.Home
@{

    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1 class="mb-4">Sign In</h1>
@using (Html.BeginForm("SignIn", "Profile", FormMethod.Post, new { @class = "signin-form" }))
{
    <div class="form-group">
        <div>@Html.LabelFor(model => model.User.Email)</div>
        <div>@Html.TextBoxFor(model => model.User.Email, new { @class = "form-control" })</div>
    </div>
    <div class="form-group">
        <div>@Html.LabelFor(model => model.User.Password)</div>
        <div>@Html.TextBoxFor(model => model.User.Password, new { @class = "form-control", type = "password" })</div>
    </div>
    if (Model.User.LoginFailed)
    {
        <small class="validation-message form-text text-danger">Failed to login. Please try again.</small>
    }
    else if (Model.User.EmailVerificationToken != "")
    {
        <small class="validation-message form-text text-danger">Please verify your account to continue.<br />Check your inbox for an email with instructions.</small>
    }

    <button class="btn btn-primary mb-2" id="btnSignIn" name="btnSubmit" value="signin"><i class="fas fa-sign-in-alt"></i> Sign-In</button>

    <a href="/Profile/SignUp">First time user?</a> <br />
    <a href="/Profile/ResetPassword">Forgot your password?</a>
}



<script type="text/javascript">
    $("#User_Email").focus();
</script>
