@model Open_Shift.Models.Error
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/ErrorLayout.cshtml";
}

<style>
    .mycanvas-follow {
        color: darkgray;
    }

    .mycanvas-following {
        color: green;
    }

    .follow-link:hover {
        cursor: pointer;
    }

    .follow-link {
        text-decoration: none;
    }

    .your-item {
        color: darkgrey
    }
</style>

<h3>Oops...Looks like you've encountered an error</h3>

<p<b>Error</b></br>
   Got this figured out....Next thing to add is adding custom errors :) </p>
