@model Open_Shift.Models.Home
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<style>
    .mycanvas-follow {
        color: darkgray;
    }

    .mycanvas-following {
        color: green;
    }

    .follow-link:hover {
        cursor: pointer;
    }

    .follow-link {
        text-decoration: none;
    }

    .your-item {
        color: darkgrey
    }
</style>

<h3>Open Shift</h3>
<b>Contact</b>
<address>
    2 Chome-39-13 Kitazawa <br />
    世田谷区 Setagaya City Tokyo 155-0031 <br />
    Japan  Redmond, WA 98052-6399 <br />
    <abbr title="Phone">P:</abbr>
    +81 3-5465-0044
</address>

<address>
    </br>

    <b>Hours:</b></br>
    Sunday	    11:30AM–3PM, 5–10:30PM </br>
    Monday	    11:30AM–3PM, 5–10:30PM </br>
    Tuesday	    Closed</br>
    Wednesday	11:30AM–3PM, 5–10:30PM</br>
    Thursday	11:30AM–3PM, 5–10:30PM </br>
    Friday	    11:30AM–3PM, 5–10:30PM </br>
    Saturday	11:30AM–3PM, 5–10:30PM </br>
</address>

<address>
    </br>
    <strong>Support:</strong>   <a href="mailto:lowusuaa@cincinnatistate.edu">lowusuaa@cincinnatistate.edu</a><br />
</address>
</br>
<b> About</b>
<p>
    Kotetsu is a noodle restaraut located in Tokyo</br>
    Kotetsu offers authentic Japanese comfort food in a cozy setting </br>
    Perfect noodles and succulent beef share a savoury-broth bath </br>
    It is also a fun place to work </br>
    We give our employees opportunity to grow </br>
</p>

