@model Open_Shift.Models.Home
@{
	ViewBag.Title = "Home";
	Layout = "~/Views/Home/Index.cshtml";
}

<style>
	.mycanvas-follow { color: darkgray; }
	.mycanvas-following { color: green; }
	.follow-link:hover { cursor: pointer; }
	.follow-link { text-decoration: none; }
	.your-item { color: darkgrey }
</style>
<h2>@ViewBag.Title</h2>

<h3>Open Shift</h3>
<h3>Your scheduling APP</h3>
