@model Open_Shift.Models.Home
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
@using (Html.BeginForm("Index", "Main", FormMethod.Post))
{
    <h2>
        <a href="/Availability/Index">Availability</a> | <a href="/Schedule/Index">Schedule</a>
    </h2>
        
    <h3>@Model.User.FirstName @Model.User.LastName </h3>
    
    <div class="section-bottom">
        <label for="Next shift">Next Shift:</label>
        <input type="text" id="Sqrt" />
        <br>
        <label for="Location ">Location:</label>
        <input type="text" id="Sqrt" />
        <br>
    </div>
    
}