@model Open_Shift.Models.Home
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Main/Index.cshtml";
}
@using (Html.BeginForm("Index", "Main", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (Model.User.UID == Model.ViewUser.UID || ViewContext.RouteData.Values["id"] == null)
    { //allow edits
        <h2>@Model.User.FirstName @Model.User.LastName</h2>
        <p> Main</p>

    }
} 
